*.pyc
*.so
*.o
.idea/
.eggs/*
*.egg-info/*
*/*.egg-info/*
build/*
*/build/*
datasets/*
dependencies/*
!dependencies/examples
work_dirs/
work_dirs_pha2_detection/
work_dirs_pha2_facial/
work_dirs_pha2_gaze/
work_dirs_previous/
work_dirs_gaze_ori/
work_dirs_tmp/
!work_dirs/modelartifacts/readme.txt
pha2_models/

evaluatation/face/*
evaluatation/od/*
evaluatation/od_compare_0917/*

backup/*
tutorials/.ipynb_checkpoints/
/tools/
/tools-*/
/tools_*/
!/tools/readme.txt
/tidl_tools_backup/
backup/
temp_files/
models/
mid_demo/
compare/
.vscode/
*.npy
*.jpg
*.csv
*.ods
*.zip
*.tar.gz

